body{
  font-family: "Montserrat"
}

#title{
  background-color: #ff4c68;
  color:#fff;
}
h1{
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 4rem;
  Line Height = 1.5;
}
.container-fluid{
  padding: 3% 15%;
}
